
<!-- BEGIN_INCLUDE(cassandradb:set-query-keyspace) -->
    <cassandradb:set-query-keyspace value="UserKeyspace"/>    
<!-- END_INCLUDE(cassandradb:set-query-keyspace) -->
<!-- BEGIN_INCLUDE(cassandradb:get) -->
    <cassandradb:get rowKey="1" columnPath="UserData::password"/>    
<!-- END_INCLUDE(cassandradb:get) -->
<!-- BEGIN_INCLUDE(cassandradb:get-slice) -->
    <cassandradb:get-slice rowKey="1" columnParent="ColumnFamily:SuperColumn" reversed="false" count="100"/>
<!-- END_INCLUDE(cassandradb:get-slice) -->
<!-- BEGIN_INCLUDE(cassandradb:multiget-slice) -->
    <cassandradb:multiget-slice columnParent="UserData" start="StartColumn" finish="EndColumn" reversed="false" count="100">
        <cassandradb:row-keys>
            <cassandradb:row-key>1</cassandradb:row-key>
            <cassandradb:row-key>2</cassandradb:row-key>
        </cassandradb:row-keys>
    </cassandradb:multiget-slice>
<!-- END_INCLUDE(cassandradb:multiget-slice) -->
<!-- BEGIN_INCLUDE(cassandradb:remove) -->
    <cassandradb:remove rowKey="1" columnPath="UserData"/>
<!-- END_INCLUDE(cassandradb:remove) -->
<!-- BEGIN_INCLUDE(cassandradb:get-count) -->
    <cassandradb:get-count rowKey="1" columnParent="UserData" start="StartColumn" finish="EndColumn" reversed="false" count="100"/>
<!-- END_INCLUDE(cassandradb:get-count) -->
<!-- BEGIN_INCLUDE(cassandradb:multiget-count) -->
    <cassandradb:multiget-count columnParent="UserData" start="StartColumn" finish="EndColumn" reversed="false" count="100">
        <cassandradb:row-keys>
            <cassandradb:row-key>1</cassandradb:row-key>
            <cassandradb:row-key>2</cassandradb:row-key>
        </cassandradb:row-keys>
    </cassandradb:multiget-count>
<!-- END_INCLUDE(cassandradb:multiget-count) -->
<!-- BEGIN_INCLUDE(cassandradb:get-range-slices) -->
    <cassandradb:get-range-slices columnParent="UserData" start="StartColumn" finish="EndColumn" reversed="false" count="100"/>
<!-- END_INCLUDE(cassandradb:get-range-slices) -->
<!-- BEGIN_INCLUDE(cassandradb:get-indexed-slices) -->
    <cassandradb:get-indexed-slices columnParent="UserData" start="StartColumn" finish="EndColumn" reversed="false" count="100" clauseCount="100" clauseStartKey="BLABLABLA">
        <cassandradb:expression-list>
        </cassandradb:expression-list>
    </cassandradb:get-indexed-slices>
<!-- END_INCLUDE(cassandradb:get-indexed-slices) -->
<!-- BEGIN_INCLUDE(cassandradb:insert) -->
    <cassandradb:insert rowKey="1" columnParent="UserData" columnName="password" columnValue="mypassword"/>    
<!-- END_INCLUDE(cassandradb:insert) -->
<!-- BEGIN_INCLUDE(cassandradb:batch-mutable) -->
    <cassandradb:batch-mutable/>    
<!-- END_INCLUDE(cassandradb:batch-mutable) -->
<!-- BEGIN_INCLUDE(cassandradb:batch-mutable) -->
    <cassandradb:batch-mutable/>    
<!-- END_INCLUDE(cassandradb:batch-mutable) -->
<!-- BEGIN_INCLUDE(cassandradb:add) -->
    <cassandradb:add rowKey="1" columnParent="UserData" counterName="CounterColumnName" counterValue="10"/>    
<!-- END_INCLUDE(cassandradb:add) -->
<!-- BEGIN_INCLUDE(cassandradb:remove) -->
    <cassandradb:remove rowKey="1" columnPath="ColumnFamily:SuperColumn"/>    
<!-- END_INCLUDE(cassandradb:remove) -->
<!-- BEGIN_INCLUDE(cassandradb:remove-counter) -->
    <cassandradb:remove-counter rowKey="1" columnPath="ColumnFamily:SuperColumn"/>    
<!-- END_INCLUDE(cassandradb:remove-counter) -->
<!-- BEGIN_INCLUDE(cassandradb:truncate) -->
    <cassandradb:truncate columnFamily="ColumnFamily:SuperColumn"/>    
<!-- END_INCLUDE(cassandradb:truncate) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-cluster-name) -->
    <cassandradb:describe-cluster-name/>    
<!-- END_INCLUDE(cassandradb:describe-cluster-name) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-schema-versions) -->
    <cassandradb:describe-schema-versions/>
<!-- END_INCLUDE(cassandradb:describe-schema-versions) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-keyspace) -->
    <cassandradb:describe-keyspace keyspace="UserKeyspace"/>    
<!-- END_INCLUDE(cassandradb:describe-keyspace) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-keyspaces) -->
    <cassandradb:describe-keyspaces/>    
<!-- END_INCLUDE(cassandradb:describe-keyspaces) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-partitioner) -->
    <cassandradb:describe-partitioner/>    
<!-- END_INCLUDE(cassandradb:describe-partitioner) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-ring) -->
    <cassandradb:describe-ring keyspace="UserKeyspace"/>    
<!-- END_INCLUDE(cassandradb:describe-ring) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-snitch) -->
    <cassandradb:describe-snitch/>    
<!-- END_INCLUDE(cassandradb:describe-snitch) -->
<!-- BEGIN_INCLUDE(cassandradb:describe-version) -->
    <cassandradb:describe-version/>    
<!-- END_INCLUDE(cassandradb:describe-version) -->
<!-- BEGIN_INCLUDE(cassandradb:system-add-column-family-from-object) -->
    <cassandradb:system-add-column-family-from-object>
        <cassandradb:cf-definition name="ColumnFamilyName" keyspace="WTF" comparator_type="UTF8Type" row_cache_size="64" key_cache_size="64" read_repair_chance="0.5" gc_grace_seconds="120" id="1" min_compaction_threshold="100" max_compaction_threshold="1000" row_cache_save_period_in_seconds="0" key_cache_save_period_in_seconds="0" replicate_on_write="false" merge_shards_chance="0.5" row_cache_keys_to_save="0">
            <cassandradb:column_metadata>
                <cassandradb:column_metadatum name-ref="#[com.mulesoft.mule.cassandradb.CassandraDBUtils.toByteBuffer('column')]" validation_class="UTF8Type"/>
            </cassandradb:column_metadata>
        </cassandradb:cf-definition>
    </cassandradb:system-add-column-family-from-object>
<!-- END_INCLUDE(cassandradb:system-add-column-family-from-object) -->
<!-- BEGIN_INCLUDE(cassandradb:system-add-column-family-from-object-with-simple-names) -->
    <cassandradb:system-add-column-family-from-object-with-simple-names>
        <cassandradb:cf-definition name="ColumnFamilyName" keyspace="WTF" comparator_type="UTF8Type" row_cache_size="64" key_cache_size="64" read_repair_chance="0.5" gc_grace_seconds="120" id="1" min_compaction_threshold="100" max_compaction_threshold="1000" row_cache_save_period_in_seconds="0" key_cache_save_period_in_seconds="0" replicate_on_write="false" merge_shards_chance="0.5" row_cache_keys_to_save="0">
            <cassandradb:column_metadata>
                <cassandradb:column_metadatum validation_class="UTF8Type"/>
                <cassandradb:column_metadatum validation_class="LongType"/>
            </cassandradb:column_metadata>
        </cassandradb:cf-definition>
        <cassandradb:column-names>
            <cassandradb:column-name>UTF8Column</cassandradb:column-name>
            <cassandradb:column-name>LongColumn</cassandradb:column-name>
        </cassandradb:column-names>
    </cassandradb:system-add-column-family-from-object-with-simple-names>
<!-- END_INCLUDE(cassandradb:system-add-column-family-from-object-with-simple-names) -->
<!-- BEGIN_INCLUDE(cassandradb:system-add-column-family-with-params) -->
    <cassandradb:system-add-column-family-with-params columnFamilyName="aColumn"/>
<!-- END_INCLUDE(cassandradb:system-add-column-family-with-params) -->
<!-- BEGIN_INCLUDE(cassandradb:system-drop-column-family) -->
    <cassandradb:system-drop-column-family columnFamily="ColumnFamily:SuperColumn"/>    
<!-- END_INCLUDE(cassandradb:system-drop-column-family) -->
<!-- BEGIN_INCLUDE(cassandradb:system-add-keyspace-from-object) -->
    <cassandradb:system-add-keyspace-from-object>
        <cassandradb:keyspace-definition name="MyKeyspace" strategy_class="org.apache.cassandra.locator.SimpleStrategy" replication_factor="1" durable_writes="true">
            <cassandradb:strategy_options>
                <cassandradb:strategy_option key="replication_factor">1</cassandradb:strategy_option>
            </cassandradb:strategy_options>
            <cassandradb:cf_defs/>
        </cassandradb:keyspace-definition>
    </cassandradb:system-add-keyspace-from-object>
<!-- END_INCLUDE(cassandradb:system-add-keyspace-from-object) -->
<!-- BEGIN_INCLUDE(cassandradb:system-add-keyspace-with-params) -->
    <cassandradb:system-add-keyspace-with-params keyspaceName="UserKeyspace"/>    
<!-- END_INCLUDE(cassandradb:system-add-keyspace-with-params) -->
<!-- BEGIN_INCLUDE(cassandradb:system-drop-keyspace) -->
    <cassandradb:system-drop-keyspace keyspace="UserKeyspace"/>    
<!-- END_INCLUDE(cassandradb:system-drop-keyspace) -->
<!-- BEGIN_INCLUDE(cassandradb:system-update-keyspace) -->
    <cassandradb:system-update-keyspace>
        <cassandradb:keyspace-def name="KeyspaceName" strategy_class="org.apache.cassandra.locator.SimpleStrategy" replication_factor="1" durable_writes="false">
            <cassandradb:strategy_options>
                <cassandradb:strategy_option key="replication_factor">1</cassandradb:strategy_option>
            </cassandradb:strategy_options>
            <cassandradb:cf_defs/>
        </cassandradb:keyspace-def>
    </cassandradb:system-update-keyspace>
<!-- END_INCLUDE(cassandradb:system-update-keyspace) -->
<!-- BEGIN_INCLUDE(cassandradb:system-update-column-family) -->
    <cassandradb:system-update-column-family>
         <cassandradb:column-family name="ColumnFamilyName" keyspace="WTF" comparator_type="BytesType" row_cache_size="64" key_cache_size="64" read_repair_chance="0.5" gc_grace_seconds="120" id="1" min_compaction_threshold="100" max_compaction_threshold="1000" row_cache_save_period_in_seconds="0" key_cache_save_period_in_seconds="0" replicate_on_write="false" merge_shards_chance="0.5" row_cache_keys_to_save="0"/>
    </cassandradb:system-update-column-family>
<!-- END_INCLUDE(cassandradb:system-update-column-family) -->
<!-- BEGIN_INCLUDE(cassandradb:execute-cql-query) -->
    <cassandradb:execute-cql-query query="SELECT * FROM UserData"/>
<!-- END_INCLUDE(cassandradb:execute-cql-query) -->